<?php
$title = 'Création de Carte';
include('./views/page.header.html');
?>
<div id="main-container">
	<div id="creation.partie">
		<div id="jrForm">
			<form class="form-jr" role="form" id="creation.partie" name="creation.partie" method="post" action="./">

				<?php if ( $this->errors ) { ?>
				<fieldset class="errors">
				<legend>Erreurs</legend>
					<ul>
					<?php foreach ( $this->errors as $error ) { ?>
						<li>
							<?php echo $lang[$error]; ?>
						</li>
					<?php } ?>
					</ul>
				</fieldset>
				<?php } ?>
				<fieldset>
					<legend class="form-jr-heading"><?php echo $lang['card_creation']; ?></legend>
					<dl>
						<dt><label for="mot"><?php echo $lang['word_to_find']; ?></label></dt>
						<dd><input type="text" id="mot" name="mot" required="required" value="<?php echo htmlspecialchars($this->mot); ?>" /></dd>
					</dl>
	<!--
					affichage du menu déroulant de choix du niveau
	-->
					<dl>
						<dt><label for="consigne"><?php echo $lang['word_direction']; ?></label></dt>
						
						<select id="nivcarte" name="nivcarte" >
							<option value ="facile"><?php echo $lang['level_easy']; ?></option>
							<option value ="moyen"><?php echo $lang['level_medium']; ?></option>
							<option value ="difficile"><?php echo $lang['level_hard']; ?></option>
						</select>
					</dl>
					
					<dl>
						<dt><label for="thematique"><?php echo $lang['subj']; ?></label></dt>
						<dd><input type="text" id="theme_carte" name="theme_carte" required="required"  onFocus="blankList()"/></dd>
						<dd><select id="theme_carte_list" name="theme_carte_list" onChange="copyThemeToInput()" >
						<?php
							$themes = array_unique(explode(';',strtolower($this->theme_carte)));
							sort($themes);
							foreach ($themes as $l) {
								if (strlen($l) > 0) {
									echo "<option value='" . $l . "'>" . $l . "</option>";
									//echo "<tr><td align='center'>" . 
											//"<input list='theme_carte' type='text' name='theme_list" . $l . "' required='required' size='10' \" value='" . $l . "'/>" ;
								}
							}
					
						?>
						</select>
						</dd>
						<!--<select id="theme_carte" name="theme_carte" >
							<option value =""></option>
						
						</select>-->
					</dl>
	
					<dl>
					<dt><label for="taboo" ><?php echo $lang['taboo']; ?></label></dt>
					
							
						<table id="taboo">
							
						<tr align="center">
							<td><input list="motTaboo" name="tabou1" required="required" size="20"/></td>
						</tr>
							
						
					
						</table>
						<table>
							<tr>
								<td><button type="button" id="taboo_acceptBtn" onClick="dispalyMoreTaboo();" align="center"  class="btn btn-primary"><?php echo $lang['add_btn']; ?> </button></td>
							</tr>
							<tr>
								<td><button type="button" id="taboo_Cancel" onClick="dispalyLessTaboo();" align="center"  class="btn btn-primary"><?php echo $lang['remv_btn']; ?> </button></td>
							</tr>
						</table>
			
					</dl>
				
	
					
					<div id="form-cmd">
						
						<input class="btn btn-primary" type="reset" id="reset_form" name="reset_form" onClick="document.forms.f.reset()" value="<?php echo $lang['reset']; ?>"/><br/><br/>
						<!-- Bouton créé pour l'intégration du crawler au formulaire, pour le cas ou le druide serait en manque d'inspiration -->
						<!-- <input class="btn btn-primary" type="button" id="random" name="random"  value="<?php// echo $lang['random']; ?>"/> -->
						
						<input class="btn btn-lg btn-primary btn-block" type="submit" id="submit_form" name="submit_form" value="<?php echo $lang['validate']; ?>" class="submit_buttons" href="?mode=druid.display"  />
						<input type="hidden" name="mode" value="<?php echo $this->mode; ?>"/>
					</div>
				</fieldset>
			</form>
		</div> <!-- fin jrForm  -->
	</div>
</div>


<script>
	function dispalyMoreTaboo(){
			
			var t=document.getElementById("taboo");
			var count = t.getElementsByTagName("tr").length;
			if (count === 6) { return;}
			var tr = t.insertRow(count);
		//	var td = tr.insertCell(0);
		//	td.align = "center";
			var td = tr.insertCell(0);
			td.align="center";
			i = document.createElement('input');
			i.type="text";
			i.setAttribute('list','motTaboo');
			count++;
			i.setAttribute('name','tabou'.concat(count));	
			i.size="20";
			td.appendChild(i);
			
		}
	function dispalyLessTaboo(){
		var t=document.getElementById("taboo");
		var count = t.getElementsByTagName("tr").length;
		if (count >= 2) {	t.deleteRow(count-1); }
	}
	
	function copyThemeToInput() {
		document.getElementById('theme_carte').value = document.getElementById('theme_carte_list').value;
	}
	
	function blankList() {
		document.getElementById('theme_carte_list').value = '';
		document.getElementById('theme_carte').value = '';
	}
	
</script>

<?php
include('./views/page.footer.html');
?>
