<?php
$title = 'Création de Carte';
include('./views/page.header.html');
?>
<div id="main-container">
	<div id="creation.partie">
		<div id="jrForm">
			<form class="form-jr" role="form" id="creation.partie" name="creation.partie" method="post" action="./">

				<?php if ( $this->errors ) { ?>
				<fieldset class="errors">
				<legend>Erreurs</legend>
					<ul>
					<?php foreach ( $this->errors as $error ) { ?>
						<li>
							<?php echo $error; ?>
						</li>
					<?php } ?>
					</ul>
				</fieldset>
				<?php } ?>
				<fieldset>
					<legend class="form-jr-heading"><?php echo $lang['card_creation']; ?></legend>
					<dl>
						<dt><label for="mot"><?php echo $lang['word_to_find']; ?></label></dt>
						<dd><input type="text" id="mot" name="mot" required="required" value="<?php echo htmlspecialchars($this->mot); ?>" /></dd>
					</dl>
	<!--
					affichage du menu déroulant de choix du niveau
	-->
					<dl>
						<dt><label for="consigne"><?php echo $lang['word_direction']; ?></label></dt>
						
						<select id="nivcarte" name="nivcarte" >
							<option value ="facile"><?php echo $lang['level_easy']; ?></option>
							<option value ="moyen"><?php echo $lang['level_medium']; ?></option>
							<option value ="difficile"><?php echo $lang['level_hard']; ?></option>
						</select>
					</dl>
	<!--
					 division de l'affichage du minimum: 2 mots tabous
	-->
					<div name="min" id="min" style="visibility: visible"> 
						<dl>
							<dt><label for="tabou1"><?php echo $lang['taboo_1']; ?></label></dt>
							<dd><input type="text" id="tabou1" name="tabou1" required="required" value="<?php echo htmlspecialchars($this->tabou1); ?>" /></dd>
						</dl>
						<dl>
							<dt><label for="tabou2"><?php echo $lang['taboo_2']; ?></label></dt>
							<dd><input type="text" id="tabou2" name="tabou2" required="required" value="<?php echo htmlspecialchars($this->tabou2); ?>" /></dd>
						</dl>
					</div>
					
	<!--
					division de l'affichage du minimum + 1: 3 mots tabous
	-->				<div>
						<input class="btn btn-primary" type="button" onClick="addtab();" value="<?php echo $lang['more_taboo']; ?>">
						<input class="btn btn-primary" type="button" onClick="supprtab();" value="<?php echo $lang['less_taboo']; ?>">
					</div>
					<div name="minplus1" id="minplus1" style="visibility: hidden"> 
						<dl>
							<dt><label for="tabou3"><?php echo $lang['taboo_3']; ?></label></dt>
							<dd><input type="text" id="tabou3" name="tabou3" value="<?php echo htmlspecialchars($this->tabou3); ?>" /></dd>
						</dl>
					
					</div>
	<!--
					 division de l'affichage du minimum + 2 : 4 mots tabous
	-->
					
					<div name="minplus2" id="minplus2" style="visibility: hidden"> 
						<dl>
							<dt><label for="tabou4"><?php echo $lang['taboo_4']; ?></label></dt>
							<dd><input type="text" id="tabou4" name="tabou4" value="<?php echo htmlspecialchars($this->tabou4); ?>" /></dd>
						</dl>
					</div>
	<!--
					 division de l'affichage du maximum (minimum +3) : 5 mots tabous 
	-->
					
					<div name="max" id="max" style="visibility: hidden"> 
						<dl>
							<dt><label for="tabou5"><?php echo $lang['taboo_5']; ?></label></dt>
								<dd><input type="text" id="tabou5" name="tabou5" value="<?php echo htmlspecialchars($this->tabou5); ?>" /></dd>
						</dl>
					</div>
					
					
					<div id="form-cmd">
						
						<input class="btn btn-primary" type="reset" id="reset_form" name="reset_form" onClick="document.forms.f.reset()" value="<?php echo $lang['reset']; ?>"/><br/><br/>
						<!-- Bouton créé pour l'intégration du crawler au formulaire, pour le cas ou le druide serait en manque d'inspiration -->
						<!-- <input class="btn btn-primary" type="button" id="random" name="random"  value="<?php// echo $lang['random']; ?>"/> -->
						
						<input class="btn btn-lg btn-primary btn-block" type="submit" id="submit_form" name="submit_form" value="<?php echo $lang['validate']; ?>" class="submit_buttons" href="?mode=druid.display"  />
						<input type="hidden" name="mode" value="<?php echo $this->mode; ?>"/>
					</div>
				</fieldset>
			</form>
		</div> <!-- fin jrForm  -->
	</div>
</div>
<script language="Javascript"> 
		
		
		var cpt = 0;
		
		// fonction lorsqu'on appuie sur "ajouter un mot tabou"

		function addtab()
		{
			if (cpt<3)
			{	
				cpt=cpt+1;
				bascule();
			}	
		}
		
		// fonction lorsqu'on appuie sur "supprimer un mot tabou"
		
		function supprtab()
		{
			if (cpt>0)
			{
				cpt=cpt-1;	
				bascule();
			}			
		}
		
		
		// fonction de changement d'état appelée par chacune des deux fonctions	
		function bascule()
		{
			switch (cpt) 
			{	
				case 0:
					document.getElementById('min').style.visibility="visible"; 
					document.getElementById('minplus1').style.visibility="hidden"; 
					document.getElementById('minplus2').style.visibility="hidden";
					document.getElementById('max').style.visibility="hidden";
					document.getElementById('tabou3').value="";
					document.getElementById('tabou4').value="";
					document.getElementById('tabou5').value="";
					document.getElementById('tabou3').required="";
					document.getElementById('tabou4').required="";
					document.getElementById('tabou5').required="";
					break;
					
				case 1:
					document.getElementById('min').style.visibility="visible"; 
					document.getElementById('minplus1').style.visibility="visible"; 
					$('#tabou3').focus();
					//$(".form-jr-heading").fadeOut(1000); fait disparaitre (en fondu de 1000 ms) tous les éléments de classe form-jr-heading
					//$(".form-jr-heading").fadeIn(1000); fait apparaitre (en fondu de 1000 ms) tous les éléménts de classe form-jr-heading
					document.getElementById('minplus2').style.visibility="hidden";
					document.getElementById('max').style.visibility="hidden"; 
					document.getElementById('tabou4').value="";
					document.getElementById('tabou5').value="";
					document.getElementById('tabou3').required="required";
					document.getElementById('tabou4').required="";
					document.getElementById('tabou5').required="";
					break;
						
				case 2:
					document.getElementById('min').style.visibility="visible"; 
					document.getElementById('minplus1').style.visibility="visible"; 
					document.getElementById('minplus2').style.visibility="visible";
					document.getElementById('max').style.visibility="hidden"; 
					document.getElementById('tabou5').value="";
					document.getElementById('tabou3').required="required";
					document.getElementById('tabou4').required="required";
					$('#tabou4').focus();
					document.getElementById('tabou5').required="";
					break;
						
				case 3:
					document.getElementById('min').style.visibility="visible"; 
					document.getElementById('minplus1').style.visibility="visible"; 
					document.getElementById('minplus2').style.visibility="visible";
					document.getElementById('max').style.visibility="visible"; 
					document.getElementById('tabou3').required="required";
					document.getElementById('tabou4').required="required";
					document.getElementById('tabou5').required="required";
					$('#tabou5').focus();
					break;
					
			}
					
		}
		//~ function submit_redirect()
		//~ {
			//~ document.forms['creation.partie'].submit();
			//~ document.location.href="./index.php?mode=druid.result" ;	
		//~ }
</script> 
<?php
include('./views/page.footer.html');
?>
