<?php
$title = 'Oracle Timeout';
include('./views/page.header.html');
?>
<div id="main-container">
	<div id="jrForm">
		<form class="form-jr" role="form" id="oracle.card.timeout" method="post" action="./index.php">
			<fieldset>
					<legend class="form-jr-heading"><?php echo $lang['too_bad'];?></legend>
					<p class="messageUtil"><?php echo $lang['oracle_timeout'];?></p>

				<div id="form-cmd">
					<input class="btn btn-lg btn-primary btn-block" type="submit" id="submit_form" name="submit_form" value="<?php echo $lang['return']; ?>" class="submit_buttons" />
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div>

</div>
<?php
include('./views/page.footer.html');
?>
