<?php
$title = 'Oracle Description';
include('./views/page.header.html');
include('./sys/config.php');

?>

<!--Popup Overlay -->
<div id="facebox">
	<div class="content">
		<div style="padding:5px;">
		<h2><?php echo $lang['warning']; ?></h2><br/><h3><?php echo $lang['cut_sound']; ?></h3> 
		<button class="close" style="cursor: pointer; background:#000; color:white; text-align:center; font-weight:bold; position:absolute; bottom:20%; left:50%; padding:0 2px; width:200px; height:30px; line-height:20px">OK</button>
		<div class="resume">&nbsp;</div>
		</div>
	</div>
</div>
<!-- Fin Popup -->
<div id="main-container">
	<div id="userid" data-userid="<?php echo $this->oracle; ?>" style="display:none"></div>
	<div id="userlang" data-userlang="<?php echo $this->userlang; ?>" style="display:none"></div>
	<div id="cardid" data-cardid="<?php echo $this->res['carteID']; ?>" style="display:none"></div>
	<div id="levelcard" data-levelcard="<?php echo $this->res['nivcarte']; ?>" style="display:none"></div>
			<?php if ( $this->errors ) { ?>
			<div class="form-jr">
				<fieldset class="errors">
					<legend>Erreurs</legend>
						<ul>
						<?php foreach ( $this->errors as $error ) { ?>
							<li>
								<?php echo $lang[$error]; ?>
							</li>
						<?php } ?>
						</ul>
					<?php } else{ ?>
				</fieldset>
			</div>
	<div id="jrForm">
		<div id="firstPage">
				<div id="descr" style="font-family:Playball;font-style: normal;">
					<legend class="form-jr-heading" style="text-align:center; font-style:bold;"><?php echo $lang['rules']; ?></legend>
					<dl style="font-size:20px; padding:10px;">
							<?php echo $lang['description']; ?>
							<?php echo $lang['beware_time']; ?>
					</dl>
				</div><br/>
					<center><table>
						<tr>
							<td><img src="style/default.css/imgs/recGris.png" alt="Recording" id="recD"></td>
							<td><button class="btn btn-primary btn-lg btn-block" id="record" type="button" style="margin-left:10px;" ><?php echo $lang['record']; ?></button></td>
						</tr>
					</table><center>
		</div>	
		<form class="form-jr" role="form" id="descriptioncarte" name="formSaisie" method="post" action="./index.php?mode=oracle.result">  		   							
		<div id="secondPage">
		        <legend class="form-jr-heading" style="text-align:center; font-style:bold;"><?php echo $lang['card_description']; ?></legend>
					<div id='card'>
						<table class="table table-hover" style="text-align:center;">
							<thead>
								<tr>
									<td title='<?php echo $lang["word_to_find"] ?>'><p><?php echo $this->res['mot']; ?><p></td>
								</tr>
							</thead>
							<tbody style="background-color:#F8E1E8;" title='<?php echo $lang["wordForbid"] ?>'>
								<tr>
									<td>
										<p><img src='style/default.css/imgs/forbidden.png'></p><p><?php echo $this->res['tabou1'].'</p></br>'; ?>
									</td>
								</tr>
								<tr>
									<td>
										<p><img src='style/default.css/imgs/forbidden.png'></p><p><?php echo $this->res['tabou2'].'</p></br>'; ?>
									</td>
								</tr>
								<tr>
									<td>
										<p>
											<img src='style/default.css/imgs/forbidden.png'></p><p><?php echo $this->res['tabou3'].'</p></br>'; ?>
									</td>
								</tr>
								<tr>
									<td>
										<p><img src='style/default.css/imgs/forbidden.png'></p><p><?php echo $this->res['tabou4'].'</p></br>'; ?>
									</td>
								</tr>
								<tr>
									<td>
										<p><img src='style/default.css/imgs/forbidden.png'></p><p><?php echo $this->res['tabou5'].'</p></br>'; ?>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<center>
						<table>
							<tr> <th id="countdown" class="timer">
								</th>
							</tr>
						</table>
					</center> 	
					<img src="style/default.css/imgs/recON.png" alt="Recording" id="rec1" style="float:left;margin-left:30%">
					<button type="button" id='restart' title="restart recording"  class="btn btn-default"><img src="style/default.css/imgs/restart.png" alt="restart" id="restart now" style="float:left;"></button>
					<button type="button"  id="valid" title = "send recording"  class="btn btn-default"><img src="style/default.css/imgs/valid.png" alt="valider" id="valider" style="float:left;"></button>
					<br/>					
		</div>	
			<div id="thirdPage">
				<dl>
					<p style="text-align:center;">
					<audio id="preview"></audio>
					</p>
					<hr/>
					<div id="container"></div>
				</dl>
				<dl> <p id="audiovide"></p></dl>
					<div id="form-cmd"style="text-align:center;" >
               				      <input type="submit" class="btn btn-danger" id="abandon_form" 
                                               name="abandon_form" title="Erase recording" value="<?php echo $lang['abandonner'];?>" onclick="delaySubmit(); return false; "/>
				 		
						<input class="btn btn-success" type="submit" id="submit_form" title="Save recording" 
						 name="submit_form" style="margin-left:3%;" value="<?php echo $lang['validate'];?>"/> 
					</div>
			</div>
		</form>
	<?php } ?>
	</div>			
</div>

<!--
	ici rajouter un message d'erreur quand aucune carte n'existe dans la langue de l'utilisateur
-->
<audio class="audioDemo" controls preload="none" style="visibility:hidden;"> 
   <source src="audio/test.mp3" type="audio/mpeg">
</audio>

<script type="text/javascript" src="controllersJS/timer.js"></script>
<script type="text/javascript" src="controllersJS/popup.js"></script>
<script type="text/javascript" src="controllersJS/oracle.recorder.js"></script>

<!-- code spécifique -->

<script type="text/javascript" src="modelJS/TODO.js"></script>
<script>

// Timer
var monChrono = new MyTimer(renders, <?php echo $this->time; ?> , finChrono, 10,pressurise);

function handleSubmit(){
	document.getElementById("descriptioncarte").submit();
    }
function delaySubmit(){ 
	deleteAudioVideoFiles();
        window.setTimeout(handleSubmit, 500); 
    };


function menu(){
document.location.href="index.php";
}



</script>

	
<?php
include('./views/page.footer.html');
?>
