<?php
$title = 'Game of Words';
include('./views/page.header.html');
include('./controllersJS/menu_lang.js');
include('./sys/load_iso.php');
?>
<div id="main-container">
	<div id="center-block">
	
			<!-- cette formulaire sert à choisir la langue de jeu-->
			<form id="select_lang">
				<h2><?php echo $lang['learning'];?>
					<select name="chooseLang" size="1" id="chooseLang" onchange="myFunction('Oracle')">
						<?php
							foreach (explode(';',$user->spoken_lang) as $l) {
								if (strlen($l) > 0) {
									$code = array_search($l,$iso);
									echo "<option value=" . $code ;
									if (strcmp($user->langGame,$code) == 0) { echo " selected"; }
									echo ">" . $l . "</option>";
								}
							}
						?>

					</select>
				</h2>
			</form>
	
	
	<h2><?php echo $lang['select_mode']; ?></h2>
		<ul id="modes" class="nav nav-tabs">
<?php 
	// Test de vérification de la langue de l'utilisateur. Si il n'apprend pas le français, il ne peux (pour l'instant) pas créer de carte aléatoire.
	if ($user->langGame !== 'fr'  ) { ?>
			<li type="button" class="btn btn-primary btn-lg btn-block" disabled="disabled">
				<a href="?mode=oracle.card.alea" title="card_alea"><?php echo $lang['card_alea']; ?></a>
			</li>
<?php 
	} else { 
?>	
			<li type="button" class="btn btn-primary btn-lg btn-block">
				<a href="?mode=oracle.card.alea" title="card_alea"><?php echo $lang['card_alea']; ?></a>
			</li>
<?php 
	} 
?>
			<li type="button" class="btn btn-primary btn-lg btn-block">
				<a href="?mode=oracle.byid" title="card_byid"><?php echo $lang['card_by_id']; ?></a>
			</li>
			<li type="button" class="btn btn-primary btn-lg btn-block">
				<a href="?mode=oracle.alea.exist" title="alea_exist"><?php echo $lang['card_exist']; ?></a>
			</li>
		</ul>
	</div>
</div>


<?php
include('./views/page.footer.html');
?>

