<?php
include('./languages/language.php');
include('./models/RecupScore.php');
require('./controllers/notificationMessage.php');

// Notification initialisation
$notif = new Notification;
$notif->initNotif();
$notif->readNotif();

//header('Content-Type: text/html; charset=UTF-8');
?><!DOCTYPE html>
<html>
    <head>
        <title><?php echo $title; ?></title>
        <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	

		<script type="text/javascript" src="style/default.js/js/jquery-1.11.2.min.js"></script>
		
		<!-- Adaptation au Bootstrap -->
		<link rel="stylesheet" type="text/css" href="style/default.css/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="style/default.css/css/bootstrap-theme.css">
		<link rel ="stylesheet" type ="text/css" href="style/default.css/css/moncss.css">
				
		<script src="style/default.js/js/bootstrap.min.js"></script>
		
		<link href="http://fonts.googleapis.com/css?family=Playball" rel="stylesheet" type="text/css">
		<link rel="icon" href="style/default.css/imgs/favicon.ico" />

		<!-- For notification style -->
		<link rel="stylesheet" type="text/css" href="style/default.css/css/ns-default.css" />
		<link rel="stylesheet" type="text/css" href="style/default.css/css/ns-style-other.css" />
		
		
		<!--Module de son : -->
		    <script src="style/default.js/RecordRTC.js"></script>

		<!-- ALL jQuery Tools. No jQuery library -->
		<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js"></script>

		<!-- For notifications-->
		<script src="controllersJS/Notification/modernizr.custom.js"></script>
		<script src="controllersJS/sendSQL.js"></script>
		<script src="controllersJS/notif.js"></script>
		

    </head>
    <body>
        <div id="header-logo"></div>
		<div class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
					<a class="navbar-brand" href="index.php">Game of Words</a>
				</div>
			<div class="collapse navbar-collapse style="height: 1px;" ">
				<ul class="nav navbar-nav">
<?php 
	if ( $GLOBALS['userlogged'] ) { ?>

			<li><a  class="active" href="?mode=infos" title="rules"><?php echo $lang['rules']; ?></a></li>
			<li><a href="?mode=profile" title="<?php echo htmlspecialchars($GLOBALS['user']->username); ?>"><?php echo $lang['menu_profile']; ?></a></li>
			<li><a href="?mode=score" title="score"><?php echo $lang['scores']; ?></a></li>
			<li><a href="?mode=logout" title="logout"><?php echo $lang['logout']; ?></a></li>
			<li id="notification_li">
				<span id="notification_count" ></span>
				<a href="#" id="notificationLink"><img src="style/default.css/imgs/info.png" style="width:25px;height:25px;"></a>
				<div id="notificationContainer">
					<div id="notificationTitle">News</div>
					<div id="notificationsBody" class="notifications">
							<?php
							if($notif->messNotif){?>
									<script> 
								var tab = <?php echo json_encode($notif->messNotif); ?>;
									notifBox(tab);</script>
							<?php 
							}
							else{ ?>
								<script> $("#notification_count").hide(); </script>
							<?php }
							?>
					</div>
					<div id="notificationFooter"><a href="#"></a></div>
				</div>
			</li>
			


<?php 
	} else { 
?>
			<li ><a href="?mode=login" title="login">Se connecter</a></li>
			<li ><a href="?mode=register" title="register">S'enregister</a></li>
<?php 
	} 
?>
				</ul>	
			</div>
		</div>
</div>
<script src="controllersJS/Notification/notificationFx.js"></script>
<script src="controllersJS/Notification/classie.js"></script>
<script src="modelJS/notifDynam.js"></script>
<?php
	if(isset($_SESSION["notif"])){
		foreach($_SESSION["notif"] as $key => $value)
		{ 
			foreach($_SESSION["notif"][$key] as $k => $v){
				$scoreUtilisateur = "";
				if($k != "undefined"){
					$scoreUtilisateur = score($k);
					?>
					<script>
						notifOn("<?php echo $lang[$v];?>","<?php echo $key; ?>","<?php echo $k; ?>", "<?php echo $scoreUtilisateur; ?>");
					</script>
				<?php }

	 		}
	 		unset($_SESSION["notif"]);
	 	}
	}
?>

	<div class="container">
	
	
	<!--<script>
		var selection = document.getElementById("select_lang").onchange = function() {
			var lang_new = this.value;
			//var user = JSON.parse('<php echo json_encode($user)?>');
			//user.set_lang(this.value);
		}
	</script>-->
