	<h2 class="text-center">Salutations grand sage, et bienvenue dans Game of Word!</h2>
	<h3 class="text-center">Il est temps de montrer tes talents!</h3>
	<p class="text-justify">Game of Words est un jeu très fortement inspiré du célèbre jeu de Taboo créé en 1990 par Brian Hersch et Bernard Bougrèle et édité par la société Hasbro. Le but du jeu est de faire deviner un maximum de mots dans un temps imparti à son ou ses coéquipier(s). Attention, sur chaque carte mot sont inscrits des mots « tabous », c’est à dire interdits, les mots de la même famille que le mot à deviner le sont également. Le Taboo se joue en 2 équipes avec au moins 4 joueurs qui jouent l'une après l'autre après chaque tour de sablier.</p>
 
<h4 class="text-center">Un exemple de carte mot :  </h4>
<p class="text-center">« Téléphone » </p>
 
<h4 class="text-center">Mots tabous : </h4>
<p class="text-center">Portable </p>
<p class="text-center">Parler </p>
<p class="text-center">Ligne </p>
<p class="text-center">Numéro </p>
<p class="text-center">Sonner </p>
<p class="text-justify">Game of Word te propose 3 rôles:  l’Oracle (ou ‘descripteur’) le Devin (ou ‘devineur’) et le Druide (ou l’arbitre) correspondant chacun à une intervention de joueur du jeu originel. </p>
	<h3><a>Oracle</a></h3>
	<h3>Sois un Oracle et énonce les prophéties!</h3>
	<h4>Si tu choisis d'être un Oracle, trois choix s'offrent à toi:</h4>

	<h3><strong>Description d'une carte au hasard</strong></h3>
	<h4>Lis les signes dans le ciel, et prêche la bonne nouvelle!</h4>
	<p class="text-justify">Une carte comme celle citée précédemment t'apparaîtra. Attention, Tu ne peux pas jouer à une carte que tu as créée comme druide. Vérifie que ton micro fonctionne, suis les instructions et c'est parti ! Tu auras 30 secondes maximum pour faire deviner ton mot sans utiliser les mots tabous, le nom de la carte ou les mots de la même famille que ces deux derniers. Garde en tête que ta description sera soumise à validation donc il est inutile de tricher! ;) Du temps supplémentaire t'est laissé pour que tu puisses te réécouter et te réenregistrer une fois. Tu recevras 10 points à la fin de ta description. Si elle n'est pas validée par le Druide, tu les perdras. Si elle est validée mais que le Devin ne trouve pas le mot décrit, tu perdras 5 points.</p>
	
	<h3><strong>Description d'une carte particulière</strong></h3>
	<h4>Un Druide t'a donné une carte à suivre... Décris-la!</h4>
	<p class="text-justify">Un page s'ouvrira où tu pourras rentrer l'identifiant d'une carte. Attention, Tu ne peux pas jouer à une carte que tu as créée comme Druide. Vérifie que ton micro fonctionne, suis les instructions et c'est parti ! Tu auras 30 secondes maximum pour faire deviner ton mot sans utiliser les mots tabous, le nom de la carte ou les mots de la même famille que ces deux derniers. Garde en tête que ta description sera soumise à validation donc il est inutile de tricher! ;) Tu recevras 10 points à la fin de ta description. Si elle n'est pas validée par le Druide, tu les perdras.Si elle est validée mais que le Devin ne trouve pas le mot décrit, tu perdras 5 points.</p>
	
	<h3><strong>Création d'une carte</strong></h3>
	<h4>C'est bien beau de lire les signes dans le ciel, mais s'ils ne disent pas ce dont j'ai envie?</h4>
	<p class="text-justify">Génère donc ta propre carte! Clique sur le bouton "carte aléatoire (création)" pour générer automatiquement une carte au hasard. Si cette carte ne te convient pas, tu peux cliquer sur "aléatoire" pour relancer la génération. Tu as 20 secondes pour te décider, estimer le niveau de difficulté de ta carte et cliquer sur "valider" pour jouer ta carte.</p>

	
	<h3><a>Druide</a></h3>
	<h3><strong>Arbitrage</strong></h3>
	<h4>Fais régner l'ordre grâce à tes pouvoirs druidiques!</h4>
	<p class="text-justify">Tu as droit de vie ou de mort sur les descriptions de l'Oracle! Tu es le censeur, le tout puisant, un mot tabou glissé dans une description? Hop! Tu invalides! Un mot de la même famille sournoisement chuchoté? Hérétique! Au bûcher! Le mot à trouver prononcé par erreur? Pas de pitié qui tienne! MOUAHAHA! Tu gagnes 10 points quel que soit ton choix de toutes façons!</p>

	<h3><strong>Création de carte</strong></h3>
	<h4>Faire la pluie et le beau temps, c'est ton rayon!</h4>
	<p class="text-justify">Ces stupides Oracles pensent pouvoir créer eux-mêmes des cartes? Tss! Tu peux faire bien mieux que cela! Clique sur "création d'une carte" pour créer une carte de toutes pièces. Rajoute autant de mots tabous que tu voudras ou supprimes-en, à ta guise! N'oublie pas d'estimer le niveau de difficulté de ta carte. Tu peux vider tous les champs en cliquant sur "réinitialiser". Clique sur "valider" lorsque tu as terminé et un aperçu de ta carte te sera affiché ainsi que l'identifiant de ta carte que tu pourras transmettre à tes amis en fanfaronnant. "CA, mesdames et messieurs, c'est une carte!"</p>


	<h3><a>Devin</a></h3>
	<h4>L'Oracle t'a laissé des indices, sauras-tu les lire?</h4>
	<p class="text-justify">Une partie choisie au hasard parmi celles où tu n'as été ni Druide, ni Devin t'apparaîtra. Vérifie ton casque ou tes enceintes et un compte à rebours se lance.. Tu as alors 30 secondes pour entrer le mot à trouver dans le champs prévu à cet effet. Attention, aucune faute d'orthographe ne sera tolérée! Vous êtes des sages, que diable! Tu peux proposer autant de mots que tu veux pendant le temps imparti. Si tu trouves le mot, tu gagneras 10 points. Sinon, tu feras perdre 5 points à l'Oracle que tu écoutais. Quelle pression! Mais tu en es à la hauteur, crois en toi!</p><br/>
	<img src="style/default.css/imgs/druidelogo.png" class="img-responsive" alt="Responsive image" align="center" />