<h2 class="text-center">Greetings Wise One, welcome in Game of Word!</h2>
<h3 class="text-center">It’s time to show off your talents!</h3>
	<p class="text-justify">Game of Word is a game greatly inspired by the game of ‘Taboo’, created in 1990 by Brian Hersch and Bernard Bougrèle, and published by Hasbro. The purpose of the game is to make your partner guess as many words as you can in a limited time. Be careful, on each card are written ‘taboo’ words, which means that they are forbidden. Words of the same ‘family’ are also forbidden to be pronounce. ‘Taboo’ is contested between two teams with at least four players who play in turns.</p>
 
<h4 class="text-center">Example of Card :  </h4>
<p class="text-center">« Phone » </p>
 
<h4 class="text-center">Taboo : </h4>
<p class="text-center">Mobile </p>
<p class="text-center">Speak </p>
<p class="text-center">Line </p>
<p class="text-center">Number </p>
<p class="text-center">Ring </p>
<p class="text-center">In Game of Word you can play three roles: Oracle (or ‘descriptor’), Druid (ou ‘referee’) and Diviner (or guesser) corresponding to the players' moves in the original game. </p>
	<h3><a>Oracle</a></h3>
	<h3>Be an Oracle and state divine prophecy!</h3>
	<h4>If you choose to be an Oracle, you have three choices : </h4>
	
	<h3><strong>Random Card Description</strong></h3>
	<h4>Read well through the signs, and spread the good news!</h4>
	<p class="text-center">A card will appear to you, randomly selected. Careful, you cannot describe a card you have created as a Druid. Check if your microphone is correctly working, follow the instructions and let’s go! You will have maximum 30 seconds to produce a description of the word given in the card without using the word, the taboo words associated or words from the same family. Keep in mind that your description will be subject to a validation, so there is no interest in cheating. Additional time is given to you so you can listen to your description, delete it and record it again once. You will receive 10 points at the end of the description. If the card is not considered valid by a druid, you will lose your points, so think well! If the Diviner cannot guess you word, you will loose 5 points.</p>
	
	<h3><strong>Card by ID Description</strong></h3>
	<h4>A Druid gave you his card, follow this line of inquiry!</h4>
	<p class="text-center">A page will open and you just have to enter the card id of your choice and clic on "validate". Careful, you cannot describe a card you have created as a Druid. Check if your microphone is correctly working, follow the instructions and let’s go! You will have maximum 30 seconds to produce a description of the word given in the card without using the word, the taboo words associated or words from the same family. Keep in mind that your description will be subject to a validation, so there is no interest in cheating. Additional time is given to you so you can listen to your description, delete it and record it again once. You will receive 10 points at the end of the description. If the card is not considered valid by a druid, you will lose your points, so think well! If the Diviner cannot guess you word, you will loose 5 points.</p>
	
	<h3><strong>Random Card Creation</strong></h3>
	<h4>Well, it surely is nice to read the signs, but what if I do not like what is written?</h4>
	<p class="text-center">Generate you own card! Clic on the "randomize" button to generate automatically a random card. If this card does not suit you, you can clic on the "refresh" button until it does. You have 20 seconds to make up your mind, estimate the card level of difficulty and clic on "validate" to play with your card.</p>


	<h3><a>Druid</a></h3>
	<h3>The reign of order shall come under your druidic power</h3>
	<h4>If you choose to be a Druid, you will have to choose between two paths. </h4>
	
	<h3><strong>Arbitrate a Game</strong></h3>
	<h4>Thou art Justice, thou art the Night, thou art... a Druid!</h4>
	<p class="text-center"> The right of life and death, held in your hands upon the descriptions of the Oracles! You are the Censor, the Almighty, a taboo word slipped into a description? Boom! You can take it down. A word or the same family insidiously whispered? Heretic! Burned at the stake! The word to find pronounced by mistake? You shall have no mercy! MOUAHAHA! You will gain 10 points whatever your choice. </p>
	
	<h3><strong>Card Creation</strong></h3>
	<h4>Oracles see you rulin', they hatin'</h4>
	<p class="text-center">What's up with this Oracles? They think they can create card? Tsss! You can do waaaaay better than them! Clic on "create a card" to create a newcard entirely. Add as many tabous word as you want or suppress them, it is up to you! Do not forget to give an estimation of you card level of difficult. You can empty the whole card by clicing on "reset". Clic on "validate" when you are done. A  preview of you card will appear as well as the id of you card. You can now send this id to your friends and show off saying "THAT, ladies and gentlemen, is a card!"</p>

	<h3><a>Diviner</a></h3>
		<h4>The Oracle left you some clues, would you find out the word?</h4>
		<p class="text-center">A game will be randomly selected where you have not been neither Oracle, neither Druid. Check on you headphones or speaker and a countdown starts. You will get 30 seconds to enter the word to guess in the blank field. Be carefull, spelling mistakes will not be accepted! you are all supposed to be wise! You can submit as many words as you want during the listening. If you find out the word, you will get 10 points. If you do not, the Oracle you have beein listening will loose 5 points. No pression at all...</p><br/>
		<img src="style/default.css/imgs/druidelogo.png" class="img-responsive" alt="Responsive image" align="center" />
