<?php
$title = 'Score';
include('./views/page.header.html');
?>
<div id="main-container">
	<div id="jrForm">
			<form class="form-jr" name="score">
				<table class="table table-hover">
					      <thead>
						<tr>
						  <th><?php echo $lang['scores']; ?></th>
						  <th></th>
						</tr>
					      </thead>
					      <tbody>
						<tr>
						  <td><?php echo $lang['score_oracle']; ?></td>
						  <td><?php echo $this->res['scoreOracle']; ?></td>
						</tr>
						<tr>
						  <td><?php echo $lang['score_druid']; ?></td>
						  <td><?php echo $this->res['scoreDruide']; ?></td>
						</tr>
						<tr>
						  <td><?php echo $lang['score_diviner']; ?></td>
						  <td><?php echo $this->res['scoreDevin']; ?></td>
						</tr>
						<tr class="success">
						  <td><?php echo $lang['score_global']; ?></td>
						  <td><?php echo $this->res['scoreGlobal']; ?></td>
						</tr>
					      </tbody>
					    </table>
				</form>
	</div>
</div>
</div>

<?php
include('./views/page.footer.html');
?>
